.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    z-index:99;
    a {
        font-size: 1.2em;
        text-decoration: none;
        color: #000;
    }
}